<header><h3>Ajouter un créneau </h3></header>

<p-messages [(value)]="msgs"></p-messages>

<form [formGroup]="formAdd" (ngSubmit)="addCreneau()">
  <p-dropdown [options]="salles | async" optionLabel="name" formControlName="room" name="room" placeholder="Selectionner la salle"></p-dropdown><BR><BR>
  <p-dropdown [options]="profs | async" optionLabel="lastname" formControlName="prof" name="prof" placeholder="Selectionner le professeur"></p-dropdown><BR><BR>
  <p-dropdown [options]="matieres | async" optionLabel="name" formControlName="matiere" name="matiere" placeholder="Selectionner la matiere"></p-dropdown><BR><BR>
  <p-dropdown [options]="classes | async" optionLabel="name" formControlName="classe" name="classe" placeholder="Selectionner la classe"></p-dropdown><BR><BR>
  Date de début du cours :
  <span class="ui-float-label">
    <p-calendar formControlName="startdate" name="startdate" showTime="true" hourFormat="24"></p-calendar>
  </span> <BR><BR>
  Date de fin du cours :
  <span class="ui-float-label">
    <p-calendar formControlName="enddate" name="enddate" showTime="true" hourFormat="24"></p-calendar>
  </span> <BR><BR>

  <p-button type="submit" icon="pi pi-check" iconPos="left"></p-button>

</form>



